<h2>Defining Models</h2>

<pre class="brush:bash">
	php artisan make:model User
</pre>

<h2>Eloquent Model Conventions</h2>

<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class Flight extends Model
	{
	    //
	}
</pre>

<h2>Table Names</h2>

<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class Flight extends Model
	{
	    /**
	     * The table associated with the model.
	     *
	     * @var string
	     */
	    protected $table = 'my_flights';
	}
</pre>

<h2>Primary Keys</h2>

<h3>Eloquent will also assume that each table has a primary key column named <b>id</b>. You may define a  <b>$primaryKey</b> property to override this convention.</h3>

<h2>Timestamps</h2>

<h3>By default, Eloquent expects <b>created_at</b> and <b>updated_at</b> columns to exist on your tables.</h3>

<h3>If you do not wish to have these columns automatically managed by Eloquent:</h3>

<pre class="brush:php">
    public $timestamps = false;
</pre>

<h3>If you need to customize the names of the columns used to store the timestamps, you may set the  <b>CREATED_AT</b> and <b>UPDATED_AT</b> constants in your model:</h3>

<pre class="brush:php">
    const CREATED_AT = 'creation_date';
    const UPDATED_AT = 'last_update';
</pre>


<h2>Retrieving Models</h2>

<pre class="brush:php">
	use App\Flight;

	$flights = App\Flight::all();

	foreach ($flights as $flight) {
	    echo $flight->name;
	}
</pre>

<h2>Adding Additional Constraints</h2>

<pre class="brush:php">
	$flights = App\Flight::where('active', 1)
	   ->orderBy('name', 'desc')
	   ->take(10)
	   ->get();
</pre>

<h2>Retrieving Single Models / Aggregates</h2>

<pre class="brush:php">
	// Retrieve a model by its primary key...
	$flight = App\Flight::find(1);

	// Retrieve the first model matching the query constraints...
	$flight = App\Flight::where('active', 1)->first();

	//You may also call the find method with an array of primary keys:
	$flights = App\Flight::find([1, 2, 3]);
</pre>

<h2>Not Found Exceptions</h2>

<pre class="brush:php">
	$model = App\Flight::findOrFail(1);

	$model = App\Flight::where('legs', '>', 100)->firstOrFail();
</pre>

<h2>Inserting &amp; Updating Models</h2>

<h3>Inserts</h3>

<pre class="brush:php">
	namespace App\Http\Controllers;

	use App\Flight;
	use Illuminate\Http\Request;
	use App\Http\Controllers\Controller;

	class FlightController extends Controller
	{
	    /**
	     * Create a new flight instance.
	     *
	     * @param  Request  $request
	     * @return Response
	     */
	    public function store(Request $request)
	    {
	        // Validate the request...

	        $flight = new Flight;

	        $flight->name = $request->name;

	        $flight->save();
	    }
	}
</pre>

<h3>Updates</h3>

<pre class="brush:php">
	$flight = App\Flight::find(1);

	$flight->name = 'New Flight Name';

	$flight->save();
</pre>



<h3>Mass Updates</h3>

<pre class="brush:php">
	App\Flight::where('active', 1)
      ->where('destination', 'San Diego')
      ->update(['delayed' => 1]);
</pre>



<h3>Other Creation Methods</h3>

<pre class="brush:php">
	// Retrieve flight by name, or create it if it doesn't exist...
	$flight = App\Flight::firstOrCreate(['name' => 'Flight 10']);
</pre>


<h2>Deleting Models</h2>

<pre class="brush:php">
	$flight = App\Flight::find(1);

	$flight->delete();
</pre>



<h3>Soft Deleting</h3>

<pre class="brush:php">

	namespace App;

	use Illuminate\Database\Eloquent\Model;
	use Illuminate\Database\Eloquent\SoftDeletes;

	class Flight extends Model
	{
	    use SoftDeletes;

	    /**
	     * The attributes that should be mutated to dates.
	     *
	     * @var array
	     */
	    protected $dates = ['deleted_at'];
	}
</pre>

<h3>If a model has a non-null  deleted_at value, the model has been soft deleted.</h3>


<h3>Restoring Soft Deleted Models</h3>

<pre class="brush:php">

//The onlyTrashed method will retrieve only soft deleted models:

App\Flight::withTrashed()
        ->where('airline_id', 1)
        ->restore();
</pre>

<div class="alert alert-info" role="alert">
	Eloquent: Relationships
</div>
<h4>defining relationships as methods provides powerful method chaining and querying capabilities. For example, we may chain additional constraints on this posts relationship:</h4>
<pre class="brush:php">
	$user->posts()->where('active', 1)->get();
</pre>

<h2>Defining Relationships
</h2>

<h3>One To One</h3>

<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class User extends Model
	{
	    /**
	     * Get the phone record associated with the user.
	     */
	    public function phone()
	    {
	        return $this->hasOne('App\Phone');
	        //return $this->hasOne('App\Phone', 'foreign_key');
	        //return $this->hasOne('App\Phone', 'foreign_key', 'local_key');
	    }
	}
</pre>



<pre class="brush:php">
	$phone = User::find(1)->phone;
</pre>

<h3>Defining The Inverse Of The Relationship</h3>


<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class Phone extends Model
	{
	    /**
	     * Get the user that owns the phone.
	     */
	    public function user()
	    {
	        return $this->belongsTo('App\User');
	        //return $this->belongsTo('App\User', 'foreign_key')
	        //return $this->belongsTo('App\User', 'foreign_key', 'other_key');
	    }
	}
</pre>



<h3>One To Many</h3>


<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class Post extends Model
	{
	    /**
	     * Get the comments for the blog post.
	     */
	    public function comments()
	    {
	        return $this->hasMany('App\Comment');
	        //return $this->hasMany('App\Comment', 'foreign_key');
			//return $this->hasMany('App\Comment', 'foreign_key', 'local_key');
	    }
	}
</pre>

<pre class="brush:php">
	$comments = App\Post::find(1)->comments;

	foreach ($comments as $comment) {
	    //
	}


	//or use further chain

	$comments = App\Post::find(1)->comments()->where('title', 'foo')->first();
</pre>

<h2>Many To Many</h2>

<pre class="brush:php">
	namespace App;

	use Illuminate\Database\Eloquent\Model;

	class User extends Model
	{
	    /**
	     * The roles that belong to the user.
	     */
	    public function roles()
	    {
	        return $this->belongsToMany('App\Role');
	        //return $this->belongsToMany('App\Role', 'role_user');
	        //return $this->belongsToMany('App\Role', 'role_user', 'user_id', 'role_id');
	    }
	}
</pre>

<pre class="brush:php">
	$user = App\User::find(1);

	foreach ($user->roles as $role) {
	    //
	}

	//or use further chain

	$roles = App\User::find(1)->roles()->orderBy('name')->get();
</pre>