<div style="font-size: 250%;" class="text-center">

	<h3>Comparision in stars</h3>
	<img class="img-rounded" src="images/chart.jpg" style='width:800px;height: auto'/>
	<img class="img-rounded" src="images/Comparison-of-top-5-PHP-frameworks_Infographics_.jpg" style='width:800px;height: auto'>
	<h3>Comparision in votes</h3>
	<img class="img-rounded" src="images/1429870878Google-Chart-PHP.png" style='width:800px;height: auto'>
	<img class="img-rounded" src="images/1427547421php_framework_popularity_at_work_-_sitepoint2c_2015.png" style='width:800px;height: auto'>
	<img class="img-rounded" src="images/pie_chart1.jpg" style='width:800px;height: auto'>


</div>