<h2>{{title}}</h2>
<p style="font-size: 250%;">
	<table class="table datatable">
<thead><tr>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Version</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Release date</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Notes</th>
</tr></thead><tbody>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="1.0"><span style="display: none;">Old version, no longer supported:</span> 1.0</th>
<td>June 2011</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="2.0"><span style="display: none;">Old version, no longer supported:</span> 2.0</th>
<td>September 2011</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="3.0"><span style="display: none;">Old version, no longer supported:</span> 3.0</th>
<td>February 22, 2012</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="3.1"><span style="display: none;">Old version, no longer supported:</span> 3.1</th>
<td>March 27, 2012</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="3.2"><span style="display: none;">Old version, no longer supported:</span> 3.2</th>
<td>May 22, 2012</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="4.0"><span style="display: none;">Old version, no longer supported:</span> 4.0</th>
<td>May 28, 2013</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="4.1"><span style="display: none;">Old version, no longer supported:</span> 4.1</th>
<td>December 11, 2013</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="4.2"><span style="display: none;">Old version, no longer supported:</span> 4.2</th>
<td>June 1, 2014</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="5.0"><span style="display: none;">Old version, no longer supported:</span> 5.0</th>
<td>February 4, 2015</td>
<td>NA</td>
</tr>
<tr>
<th class="templateVersion co" style="background-color: #FEF8C6;" title="Older version, yet still supported" data-sort-value="5.1 LTS"><span style="display: none;">Older version, yet still supported:</span> 5.1 LTS</th>
<td>June 9, 2015</td>
<td>NA</td>
</tr>
<tr>
<th style="background-color: #FDB3AB;" title="Old version, no longer supported" data-sort-value="5.2"><span style="display: none;">Old version, no longer supported:</span> 5.2</th>
<td>December 21, 2015</td>
<td>NA</td>
</tr>
<tr>
<th class="templateVersion co" style="background-color: #FEF8C6;" title="Older version, yet still supported" data-sort-value="5.3"><span style="display: none;">Older version, yet still supported:</span> 5.3</th>
<td>August 23, 2016</td>
<td>NA</td>
</tr>
<tr>
<th class="templateVersion c" style="background-color: #D4F4B4;" title="Current stable version" data-sort-value="5.4"><span style="display: none;">Current stable version:</span> <b>5.4</b></th>
<td>January 24, 2017</td>
<td>NA</td>
</tr>
<tr>
<th class="templateVersion p" style="background-color: #C1E6F5;" title="Future release" data-sort-value="5.5 LTS"><span style="display: none;">Future release:</span> 5.5 LTS</th>
<td>July 2017 (TBC)<sup id="cite_ref-18" class="reference"><a href="#cite_note-18">[17]</a></sup></td>
<td>NA</td>
</tr>
</tbody><tfoot></tfoot></table>
</p>
* LTS = long term support